[submodule "themes/coder"]
	path = themes/coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "themes/notrack"]
	path = themes/notrack
	url = https://github.com/gevhaz/hugo-theme-notrack.git
